<div class="row">
  <div class="col-md-4">
    <div class="card border-0" >
      
      <div class="card-body">
        <h5 class="card-title">Mọi ý kiến hay thắc về các khóa học hãy gửi cho chúng tôi</h5>
        <p class="card-text">Chúng tôi sẽ ghi nhận tất cả các góp ý của bạn và cải thiện các khóa học có được chất lượng tốt nhất.</p>
        <p>Vui lòng để lại thông tin và điền nội dung góp ý ở phần bên cạnh <span class="badge bg-danger text-dark">---------------></span></p>
      </div>
    </div>
  </div>
  <div class=" col-md-8 ">
   

  
    <form>
        <div class="mb-3">
         
          <input type="text" class="form-control" placeholder="HỌ TÊN" id="hoten" aria-describedby="emailHelp" ng-model="gopy.ho_ten">
          
        </div>
        <div class="mb-3">
         
          <input type="email" class="form-control" placeholder="EMAIL" id="email"  ng-model="gopy.email">
        </div>
        <div class="mb-3 ">
         
         
          <textarea name="" class="form-control" id="" placeholder="Nội dung" cols="30" rows="10"  ng-model="gopy.noi_dung"></textarea>
        </div>
        <button class="btn   btn-outline-secondary" style="margin-left: 50%; width: 100px;"  ng-click="clickGopy($event)">Gửi</button>
      </form>


</div>
<!---------->

</div>

<hr>